# OneHotEncoding Using Pandas

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('D:\\Programming\\Python\\py-master\\ML\\5_one_hot_encoding\\homeprices.csv')
df

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

In [3]:
dummies=pd.get_dummies(df['town'])

In [4]:
merged=pd.concat([df,dummies],axis='columns')
merged

               town  area   price  monroe township  robinsville  west windsor
0   monroe township  2600  550000                1            0             0
1   monroe township  3000  565000                1            0             0
2   monroe township  3200  610000                1            0             0
3   monroe township  3600  680000                1            0             0
4   monroe township  4000  725000                1            0             0
5      west windsor  2600  585000                0            0             1
6      west windsor  2800  615000                0            0             1
7      west windsor  3300  650000                0            0             1
8      west windsor  3600  710000                0            0             1
9       robinsville  2600  575000                0            1             0
10      robinsville  2900  600000                0            1             0
11      robinsville  3100  620000                0            1             0
12      robinsville  3600  695000                0            1             0

In [5]:
final = merged.drop(['town','west windsor'], axis='columns')
final

    area   price  monroe township  robinsville
0   2600  550000                1            0
1   3000  565000                1            0
2   3200  610000                1            0
3   3600  680000                1            0
4   4000  725000                1            0
5   2600  585000                0            0
6   2800  615000                0            0
7   3300  650000                0            0
8   3600  710000                0            0
9   2600  575000                0            1
10  2900  600000                0            1
11  3100  620000                0            1
12  3600  695000                0            1

In [11]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()

In [18]:
model.fit(final[['area','monroe township','robinsville']].values,final['price'].values)

LinearRegression()

In [19]:
model.predict([[2800,0,1]])

array([590775.63964739])

In [20]:
model.predict([[3400,0,0]])

array([681241.66845839])

In [21]:
model.score(final[['area','monroe township','robinsville']].values,final['price'].values)

0.9573929037221872

In [22]:
df

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

# OneHotEncoding Using Sklearn

In [54]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import  ColumnTransformer
ct=ColumnTransformer([('one_hot_encoder',OneHotEncoder(categories='auto'),[0])],remainder='passthrough')

In [71]:
x=df[['town','area']]
y=df['price']
lol=ct.fit_transform(x)
data=lol[:,1:]

In [62]:
model2=LinearRegression()
model2.fit(data,y)

LinearRegression()

In [64]:
model2.predict([[1,0,2800]])

array([590775.63964739])

In [66]:
model2.predict([[0,1,3400]])

array([681241.6684584])