# Pre-processing Data

In [112]:
import pandas as pd
df=pd.read_csv('D:\\Programming\\Python\\py-master\\ML\\14_naive_bayes\\titanic.csv')
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [113]:
df.drop(['Embarked','Cabin','Ticket','Parch','SibSp','Name','PassengerId'], axis='columns',inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

# OneHotEncoding Data

In [114]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct=ColumnTransformer([('one_hot_encoder',OneHotEncoder(categories='auto'),[1])],remainder='passthrough')

In [115]:
transdata=ct.fit_transform(df)
df2=pd.DataFrame(transdata)
columns=['Female','Male','PClass','Age','Fare','Survived']
df2.set_axis(columns,axis='columns',inplace=True)
df2

     Female  Male  PClass   Age     Fare  Survived
0       0.0   1.0     3.0  22.0   7.2500       0.0
1       1.0   0.0     1.0  38.0  71.2833       1.0
2       1.0   0.0     3.0  26.0   7.9250       1.0
3       1.0   0.0     1.0  35.0  53.1000       1.0
4       0.0   1.0     3.0  35.0   8.0500       0.0
..      ...   ...     ...   ...      ...       ...
886     0.0   1.0     2.0  27.0  13.0000       0.0
887     1.0   0.0     1.0  19.0  30.0000       1.0
888     1.0   0.0     3.0   NaN  23.4500       0.0
889     0.0   1.0     1.0  26.0  30.0000       1.0
890     0.0   1.0     3.0  32.0   7.7500       0.0

[891 rows x 6 columns]

# Checking for null values

In [116]:
df2.columns[df2.isna().any()]

Index(['Age'], dtype='object')

In [117]:
df2['Age'][:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [118]:

df2['Age']=df2['Age'].interpolate(method='linear')
df2['Age']=round(df2['Age'])
df2.head(10)

   Female  Male  PClass   Age     Fare  Survived
0     0.0   1.0     3.0  22.0   7.2500       0.0
1     1.0   0.0     1.0  38.0  71.2833       1.0
2     1.0   0.0     3.0  26.0   7.9250       1.0
3     1.0   0.0     1.0  35.0  53.1000       1.0
4     0.0   1.0     3.0  35.0   8.0500       0.0
5     0.0   1.0     3.0  44.0   8.4583       0.0
6     0.0   1.0     1.0  54.0  51.8625       0.0
7     0.0   1.0     3.0   2.0  21.0750       0.0
8     1.0   0.0     3.0  27.0  11.1333       1.0
9     1.0   0.0     2.0  14.0  30.0708       1.0

# Training Model

In [119]:
inputs=df2[['Female','Male','PClass','Age','Fare']]
target=df2['Survived']

In [120]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(inputs, target, test_size=0.2)

In [121]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [122]:
model.fit(X_train,y_train)

GaussianNB()

In [123]:
model.score(X_test,y_test)

0.8435754189944135

In [124]:
X_test[:10]

     Female  Male  PClass   Age     Fare
11      1.0   0.0     1.0  58.0  26.5500
354     0.0   1.0     3.0  26.0   7.2250
238     0.0   1.0     2.0  19.0  10.5000
424     0.0   1.0     3.0  18.0  20.2125
109     1.0   0.0     3.0  42.0  24.1500
78      0.0   1.0     2.0   1.0  29.0000
51      0.0   1.0     3.0  21.0   7.8000
597     0.0   1.0     3.0  49.0   0.0000
235     1.0   0.0     3.0  34.0   7.5500
462     0.0   1.0     1.0  47.0  38.5000

In [125]:
y_test[:10]

11     1.0
354    0.0
238    0.0
424    0.0
109    1.0
78     1.0
51     0.0
597    0.0
235    0.0
462    0.0
Name: Survived, dtype: float64

# Predicting

In [126]:
model.predict(X_test[:10])

array([1., 0., 0., 0., 1., 0., 0., 0., 1., 0.])

In [127]:
model.predict_proba(X_test[:10])

array([[0.0121098 , 0.9878902 ],
       [0.98866217, 0.01133783],
       [0.97060654, 0.02939346],
       [0.98717861, 0.01282139],
       [0.13112729, 0.86887271],
       [0.94849561, 0.05150439],
       [0.98786438, 0.01213562],
       [0.98805936, 0.01194064],
       [0.13417909, 0.86582091],
       [0.88013316, 0.11986684]])