# Exercise

# EDA

In [426]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.svm import SVC
from sklearn.ensemble import BaggingClassifier
from sklearn.model_selection import train_test_split
from scipy.stats import zscore
from sklearn.tree import DecisionTreeClassifier

In [427]:
df=pd.read_csv('D:\\Programming\\Python\\py-master\\ML\\19_Bagging\\Exercise\\heart.csv')
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [428]:
df.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

# Removing Outliers

In [429]:
x=df.drop(['HeartDisease','Sex','ChestPainType','RestingECG','ExerciseAngina','ST_Slope'],axis='columns')
x2=pd.DataFrame((np.abs(zscore(x))>3))

In [430]:
columns=np.array(x2.columns)
columns

array(['Age', 'RestingBP', 'Cholesterol', 'FastingBS', 'MaxHR', 'Oldpeak'],
      dtype=object)

In [431]:
list={}
for i in columns:
    list[str(i)]=x2[x2[i]==True].index.to_list()
    list[i].append('/')

In [432]:
list

{'Age': ['/'],
 'RestingBP': [109, 241, 365, 399, 449, 592, 732, 759, '/'],
 'Cholesterol': [76, 149, 616, '/'],
 'FastingBS': ['/'],
 'MaxHR': [390, '/'],
 'Oldpeak': [166, 324, 702, 771, 791, 850, 900, '/']}

In [433]:
final_list=[]
for d in columns:
    for k in range(0,len(list[d])):
        if list[d][k]!='/':
            final_list.append(list[d][k])

In [434]:
final_list

[109,
 241,
 365,
 399,
 449,
 592,
 732,
 759,
 76,
 149,
 616,
 390,
 166,
 324,
 702,
 771,
 791,
 850,
 900]

In [435]:
df.drop(final_list,axis='rows',inplace=True)
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

# OneHotEncoding Data

In [436]:
df=pd.get_dummies(df,drop_first=True)
df

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_Normal,RestingECG_ST,ExerciseAngina_Y,ST_Slope_Flat,ST_Slope_Up
0,40,140,289,0,172,0.0,0,1,1,0,0,1,0,0,0,1
1,49,160,180,0,156,1.0,1,0,0,1,0,1,0,0,1,0
2,37,130,283,0,98,0.0,0,1,1,0,0,0,1,0,0,1
3,48,138,214,0,108,1.5,1,0,0,0,0,1,0,1,1,0
4,54,150,195,0,122,0.0,0,1,0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,110,264,0,132,1.2,1,1,0,0,1,1,0,0,1,0
914,68,144,193,1,141,3.4,1,1,0,0,0,1,0,0,1,0
915,57,130,131,0,115,1.2,1,1,0,0,0,1,0,1,1,0
916,57,130,236,0,174,0.0,1,0,1,0,0,0,0,0,1,0
917,38,138,175,0,173,0.0,0,1,0,1,0,1,0,0,0,1

In [437]:
x=df.drop('HeartDisease',axis='columns')
y=df['HeartDisease']

# Scaling Data

In [438]:
scaler=MinMaxScaler()
x_scaled=scaler.fit_transform(x)

In [439]:
df['HeartDisease'].value_counts()

1    492
0    407
Name: HeartDisease, dtype: int64

In [440]:
X_train, X_test, y_train, y_test=train_test_split(x_scaled,y,train_size=0.9)

# Trying Support Vector Machine Algorithm

In [441]:
model=SVC()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.9333333333333333

In [442]:
model.score(X_train,y_train)

0.8813349814585909

## Using Bagging Classifier

In [443]:
bag_model=BaggingClassifier(
    base_estimator=SVC(),
    n_estimators=100,
    max_features=0.8,
    oob_score=True
)
bag_model.fit(X_train,y_train)
bag_model.oob_score_

0.861557478368356

In [444]:
bag_model.score(X_test,y_test)

0.9333333333333333

# Using Decision Tree Classifier

In [445]:
classifier=DecisionTreeClassifier()
classifier.fit(X_train,y_train)
classifier.score(X_test,y_test)

0.8

In [446]:
classifier.score(X_train,y_train)

1.0

Hence it is a clear case of high variance

# Using Bagging Classifier

In [447]:
bag_model=BaggingClassifier(
    base_estimator=DecisionTreeClassifier(),
    n_estimators=100,
    max_features=0.8,
    oob_score=True
)
bag_model.fit(X_train,y_train)
bag_model.oob_score_

0.8479604449938195

In [448]:
bag_model.score(X_train,y_train)

1.0

In [449]:
bag_model.score(X_test,y_test)

0.9